<style>
  li{
    transition: .5s all ease;
  }
  li:hover{
    z-index: 1;
    transform: scale(1.3);
  }
</style>
<link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center ">

      <h1 class="logo me-auto"><a href="/">Symphony Rental</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        <nav class="navbar navbar-expand-lg" style="margin-left: 40%;">
  <button class="navbar-toggler"style="border-color: aqua; background: #fff;" id="top" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="bi bi-list"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active mr-4">
        <a class="nav-link " href="#hero"><i class='bx bxs-home'>Home</i></a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link " href="#about">About</a>
      </li>
      <li class="nav-item dropdown mr-4">
        <a class="nav-link " href="#services">Services</a>
      </li>
      <li class="nav-item mr-5">
        <a class="nav-link " href="#contact">Contact</a>
      </li>
      
    </ul>
    <a class="btn-get-started float-right" style="border-radius: 10px;" href="/register">Register</a>
    <a class="btn btn-outline-success btn-lg float-right ml-5 mt-3" style="border-radius: 10px;" href="tel:9562993881"><i class="bi bi-headset">Call</i></a>
    
  </div>
  
</nav>
      
        {{!-- <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <ul>
          <li><a class="nav-link scrollto active" href="#hero"><i class='bx bxs-home'></i></i>Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          
          
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          
          <li><a class="getstarted scrollto" href="/register">Register</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div> --}}
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" style="height: 700px;">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>RENT YOUR FAVOURITE VEHICLE AT AN AFFORDABLE RATE</h1>
          <h2>Rent the best Cars, Motorcycles and Electric Scooters</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="/login" class="btn-get-started scrollto">Login</a>
            
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="/images/hero.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/images/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/images/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/images/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/images/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/images/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="/images/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
               Symphony rent a car, Kozhikode , self drive car rental service, Calicut is headquartered in Thanveer Complex, English Church, West Nadakkave, Nadakkave, Kozhikode, Kerala 673011, India. Symphony rent a car, Kozhikode , self drive car rental service
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> customers can hire drivers for rent if they need to.</li>
              <li><i class="ri-check-double-line"></i> customers can book cars with an amount</li>
              <li><i class="ri-check-double-line"></i></li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Symphony rent a car, Kozhikode , self drive car rental service, Calicut is headquartered in Thanveer Complex, English Church, West Nadakkave, Nadakkave, Kozhikode, Kerala 673011, India. Symphony rent a car, Kozhikode , self drive car rental service
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    

    

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
        </div>

        <div class="row ">
          <div class=" col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class='bx bx-file-find'></i></div>
              <h4><a href="">Step 1</a></h4>
              <h6>Search & Book a Vehicle with us</h6>
              <p>Use our website to search & book a vehicle that suits your budget & needs

              </p>
            </div>
          </div>

          <div class=" col-xl-3 col-md-6  mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class='bx bx-car' ></i></i></div>
              <h4><a href="">step 2</a></h4>
              <h6>Pick Up your Vehicle</h6>
              <p>Ride from home or from any of our conveniently located sites around your city. We even offer pickup & drop off at airports too.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class='bx bx-car' ></i></div>
              <h4><a href="">step 3</a></h4>
              <h6>Drive your Vehicle</h6>
              <p>Explore where ever you want to with your loved ones.</p>
            </div>
          </div>

          <div class=" col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="fa-solid fa-rotate-left"></i></div>
              <h4><a href="">step 4</a></h4>
              <h6>Return your Vehicle</h6>
              <p>Get the vehicle back to your preferred return location, and we will take it from there

              </p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Services Section -->

    

   

    

    

    

   
   

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>SYMPHONY RENTAL</h3>
            <p>
              Calicut <br>
              Nadakavu, Thanveer complex<br>
              India <br>
              pin-673011<br><br>
              <strong>Phone:</strong><a href="tel:8665562570">+1 5589 55488 55</a><br>
              <strong>Email:</strong> info@example.com<br>
              <a href="tel:8665562570">Call us at 866-556-2570</a>

            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa-brands fa-skype"></i></a>
              <a href="#" class="linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Aswin</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by AK GROUP
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class='bx bx-up-arrow-alt'></i></a>
  
    
  <script src="/javascripts/main.js"></script>
  <script src="https://kit.fontawesome.com/968174b0d7.js" crossorigin="anonymous"></script>
