<section class="vh-100 gradient-custom p-5">
  <div class="row p-5">
    <div class="col-xl-7 col-lg-4"></div>
        <div class="card1 shadow-2-strong card-registration col-lg-8 col-xl-5" style="border-radius: 15px; opacity:0.89;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
            <form action="/register" method="post" name="myform" id="register-form"  enctype="multipart/form-data">
              {{#if errMsg}}
                <div class="alert alert-danger" role="alert">
                  Email already exist
                </div>

                {{/if}}
              <div class="row">
                <div class="col-xl-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="fullName">Full Name</label>
                    <input type="text" id="fullName" class="form-control form-control-lg is-valid" name="fname" required pattern="[A-Za-z\s]{3,}" placeholder="Name">
                    
                  </div>

                </div>
                <div class="col-xl-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" id="email" class="form-control form-control-lg is-valid"  name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Email">
                    
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-xl-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label">Birthday</label>
                    <input type="date" class="form-control form-control-lg is-valid" id="birthdayDate" max="2001-01-01" name="dob" required>
                    
                  </div>

                </div>
                <div class="col-xl-6 mb-4">

                  <h6 class="mb-2 pb-1">Gender: </h6>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="Gender"
                      value="Male" checked />
                    <label class="form-check-label" for="maleGender">Male</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="femaleGender"
                      value="Female" />
                    <label class="form-check-label" for="femaleGender">Female</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-xl-6 mb-4 pb-2">

                  <div class="form-outline">
                    <label class="form-label" for="phoneNumber">Phone Number</label>
                    <input type="tel" id="phoneNumber" class="form-control form-control-lg is-valid" name="phone" title="Please enter valid mobile number" required pattern="[0-9]{10}" placeholder="Phone">
                    
                  </div>

                </div>

                <div class="col-xl-6 mb-4 pb-2">

                  <div class="form-outline">
                    <label class="form-label" for="address">Address</label>
                    <input type="text" id="address" class="form-control form-control-lg is-valid" name="address" title="Enter valid Address" required pattern="^[#.0-9a-zA-Z\s,-]+$" placeholder="Address">
                    
                  </div>

                </div>
                
              </div>
              <div class="row">
                <div class="col-xl-6 mb-4 pb-2">

                   <div class="form-outline">
                    <label for="inputState">Select document</label>
                    <select id="inputState" class="form-control form-control-lg is-valid" name="document_type" required>
                      <option value="">Choose...</option>
                      <option value="Licence">Licence</option>
                      <option value="Aadhaar">Aadhaar</option>
                      <option value="Pancard">Pancard</option>
                    </select>
                  </div>
                  

                </div>
                <div class="col-xl-6 mb-4 pb-2">

                   <div class="form-group">
                    <label for="exampleFormControlFile1">Document</label>
                    <input type="file" class="form-control-file is-valid" id="docs" name="document" required>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-xl-6 mb-4 pb-2">

                   <div class="form-group">
                    <label for="exampleFormControlFile1">Image</label>
                    <input type="file" class="form-control-file is-valid" id="exampleFormControlFile1" name="image" required>
                  </div>
                  

                </div>
                <div class="col-xl-6 mb-4 pb-2">

                  <div class="form-outline">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" id="password" class="form-control form-control-lg is-valid" name="password" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password">
                    
                  </div>

                </div>
              </div>


              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Submit" style="width: 100%;">
              </div>

            </form>
          </div>
        </div>
      </div>
</section>

{{!-- <script>
  $("#birthdayDate").datepicker({
    maxDate: "-20y"
    });
</script> --}}
<style>
    .gradient-custom {
/* fallback for old browsers */


/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-image:url("/images/bg (5).jpg");
}

label{
  font-weight: bold;
  font-style: unset;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}

.btn-primary{
  transition: .5s all ease;
}
.btn-primary:hover{
  border-radius: 15px;
  transform: scale(.9);
}
.card1{
  transition: .9s all ease;
}
.card1:hover{
  transform: scale(1.15);
}
.form-control{
  border-top-left-radius:18px ;
  border-bottom-right-radius: 18px;
  border-color: blue;
}

</style>

{{!-- <script>
    $("#register-form").submit((e)=>{
    e.preventDefault()
    var email=document.myform.email.value;
    var password=document.myform.password.value;
    var phone =  document.myform.phone.value;
    var atposition=email.indexOf("@");  
    var dotposition=email.lastIndexOf(".");     
    var phone_no = /^\d{10}$/;
  console.log(phone)
    
  if(atposition<1 || dotposition<atposition+2 || dotposition+2>=x.length){  
  alert("Please enter a valid e-mail address \n atpostion:"+atposition+"\n dotposition:"+dotposition);  
  return false;  
  }  
  else if(password.length<6){
     alert("Please enter a valid password \n password must have length 6"); 
     return false;
  }else{
    return true;
  }


  })
    
</script> --}}